<head>
  <meta charset="UTF-8">
  <!-- title -->
  <title>itho - android.dev</title>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="/resources/images/favicon.ico">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- chrome theme -->
  <meta name="theme-color" content="#1D4350">
  <!-- fonts & styling -->
  <link rel="stylesheet" href="/resources/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/resources/css/cayman.css">
</head>
