<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="zDxEnxB1mf7NYRF6jUfz4Eu99RGTX3QR7rYmqSWMjME" />
  <!-- title -->
  <title>{{ page.title }}</title>
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- chrome theme -->
  <meta name="theme-color" content="#1D4350">
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="./resources/images/favicon.ico">
  <!-- stylesheets -->
  <link rel="stylesheet" href="./resources/css/normalize.css">
  <link rel="stylesheet" href="./resources/css/monokai.css">
  <link rel="stylesheet" href="./resources/css/main.css">
</head>
