<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- chrome theme -->
  <meta name="theme-color" content="#1D4350">
  <!-- google site verification -->
  <meta name="google-site-verification" content="zDxEnxB1mf7NYRF6jUfz4Eu99RGTX3QR7rYmqSWMjME" />
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <!-- favicon & stylesheets -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/site.css">
  <!-- title -->
  <title>{{ page.title }}</title>
</head>