<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- chrome theme -->
  <meta name="theme-color" content="#292b37">
  <!-- google site verification -->
  <meta name="google-site-verification" content="zDxEnxB1mf7NYRF6jUfz4Eu99RGTX3QR7rYmqSWMjME" />
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <!-- favicon & stylesheets -->
  <link rel="icon" href="/assets/img/icon/favicon.ico" type="image/png">
  <link rel="stylesheet" href="/assets/css/vuetify.min.css" type="text/css">
  <link rel="stylesheet" href="./assets/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <!-- title -->
  <title>{{ page.title }}</title>
</head>
