.project-name {
  /* remove div spacing */
  font-size: 0;
}
@media screen and (min-width: 64em) {
  .headline { font-size: 3.25rem; }
  .headline.i {
    position: relative;
    margin-left: 110px;
  }
  .headline.tho {
    position: relative;
    margin-left: -140px;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .headline { font-size: 2.25rem; }
  .headline.i {
    position: relative;
    margin-left: 75px;
  }
  .headline.tho {
    position: relative;
    margin-left: -100px;
  }
}
@media screen and (max-width: 42em) {
  .headline { font-size: 1.75rem; }
  .headline.i {
    position: relative;
    margin-left: 60px;
  }
  .headline.tho {
    position: relative;
    margin-left: -76px;
  }
}
.headline {
  transition: 0.5s ease;
  display: inline-block;
}
.headline.euan,
.headline.mas {
  opacity: 0;
}
.project-name:hover .euan,
.project-name:hover .mas {
  color: rgba(255,255,255,0.8);
  opacity: 1;
}
.project-name:hover .i,
.project-name:hover .tho {
  margin-left: 0px;
}
